.vscode/settings.json
pomodoro.db
underconstruction.html
pomodoro - July 1 2020 backup.db
requirements.txt
Version 1.0 necessities.txt
800px-202004_tomato.svg.png
CAPTURE.png
pptest.csv
__pycache__/pomo_helpers.cpython-38.pyc
bugs and todo
favivon photoshop.psd
launching app for development
pomodoro - July 5 2020 backup.db
pomodoro - September 27 2020 backup.db
pomodoro-bac.db
pomodoro_august_3_backup.db
.gitignore
__pycache__/app.cpython-38.pyc