@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
    box-sizing: border-box;
}

a {
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 0, 43);
}

a:hover {
    color:coral;
}

body {
    align-content: center;
    margin: auto;
    width: 95%;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    line-height: 1.6em;
    box-sizing: border-box;
    position: relative;
}

.header-banner {
    width: 650px;
    height: 66px;
}

.load {
    /* need to figure out way to center load div */
    padding: 45px;
}

/* Set additional styling options for the columns */
.column {
width: 32.8%;
display: inline-block;
vertical-align: top;
margin-top: 10px;
}

/* Set width length for the left, right and middle columns */
.left {
    align-content: center;
    text-align: center;
}

.middle {
    background-color: #f4f4f4;
    margin-top: 0;
    padding: 10px;
}

.right {
    align-content: center;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
}

th {
    color: white;
    background: black;
    padding: 5px;
    width: 33%;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 7px;
    text-align: center;
    width: 33%;
}

.notes {
    font-family: 'Courier New', Courier, monospace;
    border: none;
    color: rgb(255,0,43);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 0.75em;
    cursor: pointer;
    background-color: white;
}

.load-create {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255,0,43);
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    font-size: 1.1em;
    cursor: pointer;
    background-color:  rgb(224, 224, 224);
    border: 1px solid #000;
    border-radius: 4px;
}

.load-create:hover {
    background-color: rgb(235, 235, 235);
}

.journal {
    width: 50%;
    text-align: justify;
}

.how-to-table {
    width: 75%;
}

tip-notice {
    color: red;
    font-weight: bold;
}

textarea {
    height: 100px;
    width: 350px;
  }

details > summary {
    font-weight: bold;
    text-decoration: underline;
    margin: auto;
    width: 160px;
    cursor: pointer;
}

details {
    align-content: center;
    margin: auto;
    width: 300px;
    cursor: pointer;
}

.week {
    color: white;
    background: rgb(39, 39, 39);
    font-weight: bold;
    border: none;
}

.pomos {
    background: rgb(39, 39, 39);
    font-weight: bold;
    color: white;
}

.pomos10 {
    background: rgb(39, 39, 39);
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 220, 21);    
}

.small-text {
    width: 50%; 
    margin: auto; 
    font-size: small;
}