/* Load */
.pword-spacing {
    margin-left: 10px;
}

/* First Entry */
#first-entry {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#first-entry input {
    margin-bottom: 10px;
    width: 95%;
}

#first-entry .fe-pomos, #first-entry .mobile-btn {
    width: 40%;
}

.wide-form::placeholder {
    text-align: center;
}

/* Home (table view)*/
#add-pomos .separation-for-smaller {
    display: block;
    text-align: left;
}

#add-pomos label {
    display: block;
    text-align: center;
}

#add-pomos input {
    display: block;
    margin: auto;
    margin-bottom: 5px;
}

.left {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.middle {
    display: block;
    max-width: 100%;
    margin-top: 5px;
    padding: 0;
    max-height: 75vh;
    overflow: auto;
}

.right {
    width: 100%;
    margin-top: 0;
    text-align: center;
}

.mobile-link {
    display: block;
    margin-bottom: 10px;
}

/* width */
.middle::-webkit-scrollbar {
    display: none;
  }
   
/* Handle */
.middle::-webkit-scrollbar-thumb {
    display: none;
}

/* Footer */
#footer.home {
    position: static;
}