<!doctype html>
<html lang="en">

<header>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="static/global.css">

  <title>{% block title %}{% endblock %}</title>
  
  {% block header %}{% endblock %}
</header>

<body>
    {% block main%}{% endblock %}
</body>

<footer style="width: 50%; margin: auto; font-size: small;">
<center>
  <div class="footer">
    <p><em>Pomo Progress is not affliated or related to the Pomodoro Technique™/Pomodoro™’s trademark holder Cirillo Company and respects its trademarks.
    Pomodoro Technique® and Pomodoro® are registered trademarks of Francesco Cirillo.
    All logos and marks contained herein are the property of their respective owners.
    <strong>RE-WRITE BEFORE LAUNCHING</strong></em></p>
  </div>
<span>version 0.8 2020 | <a href="contact">contact</a></span>
</center>
</footer>
</html>