<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="Pomo Progress! is a productivity tool designed to help you track your progress towards a goal. It was inspired by the Pomodoro Technique by Francesco Cirillo.">
  <meta name="keywords" content="Pomodoro Technique, goals, tracking progress, self-development, tomato tracker, fitness, new skills, resolutions">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="static/global.css">
  <link rel="icon" type="image/png" href="/static/tomato.png">
</head>

<header>
  {% block header %}{% endblock %}
</header>

<body>
    {% block main%}{% endblock %}
</body>

<footer>
<center>
  <div class="footer small-text">
    <p><em>Pomo Progress is not affliated or related to the Pomodoro Technique™/Pomodoro™’s trademark holder Cirillo Company and respects its trademarks.
    Pomodoro Technique® and Pomodoro® are registered trademarks of Francesco Cirillo.
    All logos and marks contained herein are the property of their respective owners. Logo based on image from commons.wikimedia.org
    <strong>RE-WRITE BEFORE LAUNCHING</strong></em></p>
  </div>
<span>version 0.9 2020 | <a href="contact">contact</a></span>
</center>
</footer>
</html>