{% extends 'base.html' %}

{% block title %}Submit Your First Entry!{% endblock %}

{% block main %}
<div class="fe-mobile-form-container">
    <form id="first-entry" action="/firstentry" method="post">
        <p>Please enter first entry:</p>
        <label>Pomodoros:</label>
        <input class="fe-pomos wide-form" name="tomatoes" placeholder="pomodoro count" type="number" required>
        <label>Task:</label>
        <input class="wide-form" name="task" placeholder="primary task" type="text" required>
        <label>Notes:</label>
        <input class="wide-form" name="notes" placeholder="notes or secondary tasks" type="text">
        <input class="load-create mobile-btn" type="submit">
    </form>
</div>
<footer id="footer" class="first-entry">
    <em>Pomo Progress is not affiliated with the Cirillo Company or Francesco Cirillo, the sole trademark holder of Pomodoro™ and Pomodoro Technique™</em>
    <br>
    version 1.0 2020 | <a href="mailto:mwroberts89@gmail.com">contact</a> | <a href="https://github.com/mwroberts3/pomodoro-progress/blob/master/README.md">info</a>
</footer>
{% endblock %}