{% extends 'base.html' %}

{% block title %}Submit Your First Entry!{% endblock %}

{% block main %}
<center>
Please enter first entry:
<form action="/firstentry" method="post">
    Pomodoros:
    <input name="tomatoes" placeholder="pomodoro count" type="number" required>
    Task:
    <input name="task" placeholder="primary task" type="text" required>
    Notes:
    <input name="notes" placeholder="notes or secondary tasks" type="text">
    <input type="submit">
</form>
</center>
<footer id="footer">
    <em>Pomo Progress is not affliated with the Cirillo Company or Francesco Cirillo, the sole trademark holder of Pomodoro™ and Pomodoro Technique™</em>
    <br>
    version 1.0 2020 | <a href="mailto:mwroberts89@gmail.com">contact</a> | <a href="https://github.com/mwroberts3/pomodoro-progress/blob/master/README.md">info</a>
</footer>
{% endblock %}