{% extends 'base.html' %} {% block title %}Pomo Progress! - {{
session['table_name'] }}{% endblock %}
{% block main %}
<div id="home-header">
    <div class="navlinks">
      <a href="/">logout</a> <span class="dark-gray-font">| </span><a href="/journal">journal</a>
    </div>
  </div>
  <h2><q>{{ session['table_name'] }}</q></h2>
  <center>
    <form id="add-pomos" action="/home" method="post">
      <div class="separation-for-smaller">
        <label for="pomos">Pomodoros:</label>
        <input
        id="pomoInput"
          class="wide-form"
          name="tomatoes"
          placeholder="pomodoro count"
          type="number"
          required
        />
        <label for="task">Task:</label>
        <input
          class="wide-form"
          name="task"
          placeholder="primary task"
          type="text"
        />
      </div>
      <label for="notes">Notes:</label>
      <input
        class="wide-form"
        name="notes"
        placeholder="notes or secondary tasks"
        type="text"
      />
      <input class="date-insert" name="date" type="text" style="display: none"/>
      <input class="date-displayed-insert" name="date-displayed" type="text" style="display: none" />
      <input class="load-create" type="submit" />
    </form>
  </center>
  <hr />
  <div id="info" class="left">
    <strong>Start Date: </strong>
    {{ session['start_date'] }}
    <br>
    <br>
    <strong>Purpose: </strong>
    {{ session['purpose'] }}
    <br />
    <br />
    <strong>Hourly Goal:</strong> {{ session['hours_goal'] }} hours
    <br />
    <strong>Pomodoro Timer:</strong> {{ session['tomato_rate'] }} min
    <br />
    <br />
    <strong>Deadline:</strong> {{ session['time_frame'] }}
    <br />
    <strong>Days Until Deadline:</strong> {{
    session['current_days_until_deadline']}}
    <br />
    <br />
    <span class="mobile-link"><a href="#stats">view stats</a></span>
  </div>
  <div class="middle">
    <table>
      <th>Date</th>
      <th>Pomodoros</th>
      <th colspan="2">Task</th>
      <tr>
        {% if day_count > 0 %}
        <td class="week week-solid">#{{ week_count + 1 }}</td>
        <td class="week week-solid">Total: {{ tomato_total }}</td>
        <td class="week week-solid" colspan="2">
          Avg: {{ (tomato_total/day_count)|round(2, 'floor') }}
        </td>
        {% endif %} {% if day_count == 0 %}
        <!--if it has been exactly a week, do not display anything for upcoming week-->
        {% endif %}
      </tr>
      {% for row in full_chart|reverse %}
      <tr>
        {% if row['date']|float >= 1 %}
        <td class="week week-solid">#{{ row['date'] }}</td>
        <td class="week week-solid">Total: {{ row['tomato_count'] }}</td>
        <td class="week week-solid" colspan="2">Avg: {{ row['task'] }}</td>
        {% else %} <td class="date-text">{{ row['display_date'] }}</td> 
        {% if row['tomato_count']|int >= stats['daily_average'] * 2 %}
        <td class="pomos-avg-double">{{ row['tomato_count'] }}</td>
        {% else %}{% if row['tomato_count']|int >= stats['daily_average'] %}
        <td class="pomos-avg">{{ row['tomato_count'] }}</td>
        {% else %}{% if row['tomato_count']|int <= stats['daily_average'] / 3%}
        <td class="pomos-avg-lessthan">{{ row['tomato_count'] }}</td>
        {% else %}
        <td class="pomos">{{ row['tomato_count'] }}</td>
        {% endif %}{% endif %}{% endif %}
        {% if row['task'] != None and row['task'] != "" %}
        <td class="task-text">{{ row['task'] }}</td>
        {% else %}
        <td class="task-text">-</td>
        {% endif %} {% if row['notes'] != None and row['notes'] != "" %}
        <td>
          <button class="notes" type="button">notes</button>
          <div class="notes-overlay">
            <div class="notes-container">
              <div class="close-notes">x</div>
              <div class="notes-themself">
                <br />
                {{ row['notes'] }}
                <br />
              </div>
            </div>
          </div>
        </td>
        {% else %}
        <td class="task-text">-</td>
        {% endif %} 
        {% endif %} 
      {% endfor %}
    </table>
  </div>

  <div class="right" id="stats">
    <h4 style="text-align: center;">Stats</h4>
    <strong>Total Pomodoros:</strong> {{ stats['total_tomatoes'] }}
    <br />
    <strong>Daily Average:</strong> {{ stats['daily_average'] }}
    <br />
    {% if week_count != 0 %}
    <strong>Weekly Average: </strong> {{ (stats['weekly_average'] / week_count)|round(2, 'floor') }}
    {% else %}
    <strong>Weekly Average: </strong> NA
    {% endif %}
    <br>
    <strong>Pace:</strong>
    {% if stats['pace']['rate'] >= 100 %}
    <span style="color: rgb(17, 175, 17);"
      ><strong> ~{{ stats['pace']['rate'] }}%</strong> ({{
      stats['pace']['on_pace'] }})</span
    >
    {% else %}
    <span style="color: red;"
      ><strong> ~{{ stats['pace']['rate'] }}%</strong> ({{
      stats['pace']['on_pace'] }})</span
    >
    {% endif %}
    <br />
    <br />
      <strong>Pomodoros to Goal:</strong> {{ stats['pomos_left'] }}
      <br />
      <strong>Completion:</strong> {{ stats['completion_percentage'] }}%
      <br />
      <strong>Necessary Average:</strong> {{ stats['on_pace_average'] }}
      <br />
      <br />
      <strong>Streak:</strong> {{ stats['days_in_a_row'] }} days
      <br />
      <strong>Most in a Day:</strong> {{ stats['one_day_high'] }}
    <span class="mobile-link"><a href="#info">back</a></span>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js"></script>
  <script src="/static/notes-display.js"></script>
  <script>
    let entryDate = dateFns.format(new Date(), "YYYY-MM-DD");
    let entryDateDisplayed = dateFns.format(new Date(), "MM-DD");
    const timeCheck = setInterval(() => {
      if (dateFns.format(new Date(), "MM-DD") > entryDateDisplayed){
      location.reload();
    }}, 3000)
    console.log(dateFns.format(new Date(), "MM-DD"), entryDateDisplayed);
    document.querySelector("#pomoInput").addEventListener("mouseover", () => {
    entryDate = dateFns.format(new Date(), "YYYY-MM-DD");
    entryDateDisplayed = dateFns.format(new Date(), "MM-DD");
    });
    document.querySelector(".date-insert").value = entryDate;
    document.querySelector(".date-displayed-insert").value = entryDateDisplayed;
  </script>
  <footer id="footer" class="home dark-gray-font">
    version 1.2 2020 &nbsp;
    <a href="mailto:mwroberts89@gmail.com"
      ><i class="far fa-envelope fa-2x"></i
    ></a>
    &nbsp;
    <a href="https://github.com/mwroberts3/pomodoro-progress"
      ><i class="fab fa-github fa-2x"></i
    ></a>
    <br />
    <em
      >Pomo Progress is not affiliated with the Cirillo Company or Francesco
      Cirillo, the sole trademark holder of Pomodoro™ and Pomodoro
      Technique™</em
    >
  </footer>
  {% endblock %}
</div>
