{% extends 'base.html' %}

{% block title %}How to Use Pomo Progress{% endblock %}

{% block main %}
        <div>
            <a href="/">home</a>
            <center><h2 style="display: inline;">How to Use Pomo Progress!</h2></center>
        </div>
        <hr>
<section id="howtouse">
    <div id="how-to-contents">
        <h3>Contents</h3>
        <ul>
            <li class="no-list-style"><a href="#1">The Purpose of Pomo Progress!</a></li>
                <ul>
                    <li><a href="#1.1">Inspired By and Based on the Pomodoro-Technique</a></li>
                    <li><a href="#1.2">Deadlines Help You Achieve Goals</a></li>
                </ul>
            <li class="no-list-style"><a href="#2">Creating and Using a Table</a></li>
                <ul>
                    <li><a href="#2.1">How to Create a New Table</a></li>
                    <li><a href="#2.2">Viewing the Table Data</a></li>
                </ul>
            <li class="no-list-style"><a href="#3">Other Features</a></li>
                <ul>
                    <li><a href="#3.1">Thanks!</a></li>
                </ul>
        </ul>
    </div>
    <h3 id="1">The Purpose of Pomo Progress!</h3>
    <p>The purpose of this website is to be a tool that helps users achieve goals they set for themselves, whatever goals they want. Goals like losing weight, finishing an art project, or learning a new skill.</p>    
    <p>Speaking from personal experience, one of the biggest challenges in completing goals, is maintain consistency of effort. We might start of strong and pursue a goal with vigor for a few weeks, but often time our enthusiasm with dissipate, and out progress will fall off. This website will help you track your progress, and let you know whether or not your on pace to achieve your goal.</p>

    <h4 id="1.1">Inspired By and Based on the Pomodoro Technique™</h4>
    <p>This site was inspired by the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a> and will make a lot more sense if you're already familiar with it. The learning technique was developed by <strong>Francesco Cirillo</strong> in the late 1980s. The basics of the technique involve working for a set amount of time--about 25 minutes--and then taking a 3 to 5 minute break. After working a 25 minute block four times in a row, (with short breaks in-between), practitioners are encouraged to take a 15 - 30 minute break before attempting another set. The reasoning for this is because people are supposedly better able to retain the information they just learned a bit better.</p>
    <p>The Pomodoro Technique™ is based around the act of learning, but Pomo Progress! is a broad tool that could be applied to many different pursuits. In fact, if you want to eschew the tenets of the aforementioned technique, you can use this web app any way you'd like.</p>
    <p>Version 1.0 of this website does not have a built-in timer; its basic purpose is to simply be an organization tool to help you achieve longer-term goals. Use any external timer you want to time intervals. The <a href="#" onClick="MyWindow=window.open('https://www.google.com/search?q=timer&oq=timer&aqs=chrome.0.69i59j0l5j69i61j69i60.995j0j7&sourceid=chrome&ie=UTF-8','MyWindow','width=600,height=300'); return false;">Google timer</a> is simple and effective. I'm hoping to add an embedded timer in a future version.
    <h4 id="1.2">Deadlines Help You Achieve Goals</h4>
    <p>A major tenant that this website is based on is <a href="https://en.wikipedia.org/wiki/Parkinson%27s_law">Parkinson's law</a>. In a nutshell, Parkinson's law basically states that a specific task will be completed by the deadline that was set to finish it by. For example, if you have a month to finish a twenty page term paper, it will be completed in a month. If you have two days to write a five page term paper, it will be written in two days. I think any current or former college students can attest to the validity of this principle. As such, this table tries to make use of 'deadline pressure' and asks you to give the total amount of hours you want to achieve a goal by, and then it asks you for a deadline date. As long as the total amount of hours and and deadline is <em>reasonable</em>, there is a very good chance you will complete the task, due to the invisible forces behind Parkinson's law.</p>
    <p>Additionally, if you'd prefer not to put in an hour-count and/or deadline, that's totally fine. Unfortunately, some statistics won't be calculated because without those variables, but you can still track your progress and watch it grow.</p>
    <h3 id="2">Creating and Using a Table</h3>
    <h4 id="2.1">How to Create a New Table</h4>
        <p>
            Creating a table is easy, simply click the "create new table" button on the load page to trigger a drop down form that is pretty self-explanatory. The only required inputs are table name and the password fields. You can leave the rest of the fields blank if you wish. However, to get the most of out of this website, it is <strong><em>highly</em></strong> recommended that you use all of the use all of the data fields.
            <ul>
                <li><strong>new table name</strong> - the table name basically works like a username. The name must be unique and is linked with the password you choose.</li>
                <li><strong>password / confirm password</strong> - choose a password that's secure, and one you can remember. Currently, there is no password recovery feature, so it's a good idea to write down your password.</li>
            </ul>
        </p>
    <h4 id="2.2">Viewing the Data Table</h4>
    <img id="how-to-pic" src="/static/how-to-use-1.jpg" alt="sample Pomo Progress! table">
    <div class="how-to-table">
    <p><strong>Date</strong>-the date of your most recent entry. Multiple entries on the same date will be combined into one entry. Multiple tasks and notes can be added to the same date.</p>
    <p><strong>Pomodoros</strong>-shows the amount of pomodoros you accumulated for a given date. After 7 days, the daily amounts of pomodoros are added together for a weekly total.</p>
    <p><strong>Task(s)</strong>-lists the task that you focused on for the day. You can have more than one task for a given day.</p>
    <p><strong>Notes</strong>-you have the option to add a short note each time you add more pomodoros to the table. <em>please keep the notes as brief as possible, as there is a character limit on notes. A new notes system is being worked out for the next version</em></p>
    <p>If you want to add new notes or tasks <em>without</em> adding pomodoros, you can put a '0' in that field, and then write in the task and/or notes you want to add to that day.</p>
    </div>

    <div class="clr"></div>

    <div class="third-chunk">
    <h3 id="3">Other Features</h3>
    <p>Another notable feature is the journal page, which allows you to type out and save your thoughts about your journey without any character limit. This allows you to workout your deeper thoughts on your progress and lets you plan ahead. Journaling and planning out your progress step-by-step should help you realize and make progress towards your goal, especially if the goal is something rather vague and complex, like making a career change over the next year or two.</p>
    
    <h4 id="3.1">Thanks!</h4>
    <p>This started out as my final project for Harvardx's CS50. As I've worked on it though, it grew into something I want to use for myself, and I ended up putting much more work into it then I initially expected. I'm not really expecting it to catch on in any way, as there are much more comprehensive progress trackers out there, but if anyone else does start using it and finds their way to the bottom of this page, this is a thank you from the creator. I put a lot of work into it, and it's awesome and amazing that other people are getting use out of it.</p>
    </div>
    <footer id="footer">
        version 1.2 2020 &nbsp;
        <a href="mailto:mwroberts89@gmail.com"
          ><i class="far fa-envelope fa-2x"></i
        ></a>
        &nbsp;
        <a href="https://github.com/mwroberts3/pomodoro-progress"
          ><i class="fab fa-github fa-2x"></i
        ></a>
        <br />
        <em
          >Pomo Progress is not affiliated with the Cirillo Company or Francesco
          Cirillo, the sole trademark holder of Pomodoro™ and Pomodoro Technique™</em
        >
      </footer>
</section>
{% endblock %}