{% extends 'base.html' %}

{% block title %}How to Use Pomo Progress{% endblock %}

{% block header %}
    <div>
        <a href="/">home</a>
        <center><h2 style="display: inline;">How to Use Pomo Progress</h2></center>
    </div>
    <hr>
{% endblock %}

{% block main %}
<p>The purpose of this website is to help users acheive goals they set for themselves; goals like losing a certain amount of weight within a set amount of time, or finishing that first draft of the novel they've been working on. This site was inspired by the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a> and will make a lot more sense if you're already familiar with it. The learning technique was developed by <strong>Francesco Cirillo</strong> in the late 1980s. The basics of the technique involve working for a set amount of time--about 25 minutes--and then taking a 3 to 5 minute break. After working a 25 minute block four times, users of the technique are encouraged to take a 15 - 30 minute break before attemping another set. The reasoning for this is that supposedly people are better able to retain the information they just by taking short breaks between their study sessions.</p>    
<p>because this site basically acts as a way to track your progress via the Pomodoro Technique. And, the ultimate purpose, is to just provide a tool that will hopefully help you acheive you're goal. Tracking your progress towards a goal will help keep you motivated and ultimately more likely to acheive it. <strong>[link to studies showing this]</strong>. Pomo Progress lets you add a deadline to a new table (but not required), so you know how many days you have to acheive your goal. There is a principle <strong>[look up principle]</strong>s that shows how tasks fit into deadlines, and if you set a deadline you're more likely to finish the task by within that certain amount of time.</p>
<p>Everytime you work for the timelimit, you can add a pomodoro to the table for that day, along with a task name, and notes you may want to add. It may be easier to work for several pomodoros and then add them all at once. Take a look at the table below to see an example.</p>
<center><img src="/static/how-to-use-1.jpg" alt="sample Pomo Progress! table" style="border: 1px solid black;"></center>
<center><div class="how-to-table">
    <strong>Date</strong>-the date of your most recent entry. Multiple entries on the same date will be combined into one entry. Multiple tasks and notes can be added to the same date.
    <br>
    <br>
    <strong>Pomodoros</strong>-shows the amount of pomodoros you accumulated for a given date. After 7 days, the daily amounts of pomodoros are added together for a weekly total.
    <br>
    <br>
    <strong>Task(s)</strong>-lists what you focused on for the day, can have more than one task for a given day.
    <br>
    <br>
    <strong>Notes</strong>-you have the option to add a short note each time you add more pomodoros to the table. <em>please keep the notes as brief as possible, a new notes system is being worked out for the next version</em>
    <!--make this tip notice show and hide text like that js example on w3schools-->
    <tip-notice>TIP:</tip-notice> if you want to add new notes or tasks <em>without</em> adding pomodoros, you can just put a '0' in that field and then write in the task and/or notes you want to add to that day.
</div></center>
<p>
    Another notable feature is the <strong>journal</strong>, which will allow you to type out and save your thoughts about your journey without any character limit. Journaling and planning out your progress step-by-step should help you realize and make progress towards your goal, especially if the goal is something rather vague and complex, like making a career change over the next year.
</p>

{% endblock %}