{% extends 'base.html' %}

{% block title %}How to Use Pomo Progress{% endblock %}

{% block header %}
<header>
    <!-- figure out how to make logout and logo on the same line -->
    <a href="/">home</a>
    <h1>How to Use Pomo Progress</h1>
</header>
{% endblock %}

{% block main %}
<p>This site will make a lot more sense if you're already familiar with the Pomodoro Technique, pioneered by <strong>[inventor's name]</strong>, because this site basically acts as a way to track your progress via the Pomodoro Technique. And, the ultimate purpose, is to just provide a tool that will hopefully help you acheive you're goal. Tracking your progress towards a goal will help keep you motivated and ultimately more likely to acheive it. <strong>[link to studies showing this]</strong>. Pomo Progress lets you add a deadline to a new table (but not required), so you know how many days you have to acheive your goal. There is a principle <strong>[look up principle]</strong>s that shows how tasks fit into deadlines, and if you set a deadline you're more likely to finish the task by within that certain amount of time.</p>
<p>Everytime you work for the timelimit, you can add a pomodoro to the table for that day, along with a task name, and notes you may want to add. It may be easier to work for several pomodoros and then add them all at once.</p>

{% endblock %}