{% extends 'base.html' %}

{% block title %}Pomo Progress{% endblock %}

{% block header %}
    <a href='/home'>back</a>
    <center><h3>{{ session['table_name'] }} - journal</h3></center>
    {% for message in get_flashed_messages() %}
        <center><strong>{{ message }}</strong></center>
    {% endfor %}
{% endblock %}

{% block main %}
<center>
    <form action="/journal" method="post">
        <textarea class="entry" name="entry" placeholder="new journal entry..." type="text" required></textarea>
        <br>
        <input name="submit_entry" value="submit new entry" type="submit">
    </form>
    <hr>
</center>
<center>
        <div class="journal">
            {% for row in journal_data %}
                {% if row['date'] != '' %}
                    <dt><strong>{{ row['date'] }}</strong></dt>
                    <dd><strong><font size="3px">{{ row['time'] }}&nbsp;-&nbsp;</font></strong>{{ row['entry'] }}</dd>
                    <br>
                {% else %}
                    <dd><strong><font size="3px">{{ row['time'] }}&nbsp;-&nbsp;</font></strong>{{ row['entry'] }}</dd>
                    <br>
                {% endif %}
            {% endfor %}
        </div>
</center>
{% endblock %}