{% extends 'base.html' %}

{% block title %}Pomo Progress{% endblock %}

{% block header %}
    <center><h1>Pomo Progress!</h1></center>
    {% for message in get_flashed_messages() %}
        <center><strong>{{ message }}</strong></center>
    {% endfor %}
{% endblock %}

{% block main %}
<div class="load">    
    <center>
    <h2>Table Name:</h2>
    <form action="/" method="post">
        <div>
            <input autocomplete="on" name="table_name" placeholder="table name" type="text" required> <input type="submit" name="load" value="load">
        </div>
    </form>
        <br>
    <form action="/" method="post">
        <div>
            <input type="button" value="make new table" id="new_table">
            <div id="new_table_display"></div>
            <script>
                document.querySelector('#new_table').onclick = function(){
                document.querySelector('#new_table_display').outerHTML = '<br><br>Choose a name for your new table:<div><input autocomplete="off" name="new_table_name" placeholder="new table name" type="text"></div><br>What is the purpose of tracking your progress? <br>What are you trying to acheive?<div><textarea name="purpose" row="4" col="50" placeholder="purpose"></textarea></div><br>In how many hours do you want to acheive this goal?<div><input autocomplete="off" name="hours_goal" placeholder="hours goal" type="text"></div><br>When do you want to complete this goal by?<br><div><input autocomplete="off" name="time_frame" placeholder="mm/dd/yy" type="text"></div><br>What do you want to set your pomodoro timer to?<br>See "How to use this site" link below for more information<div><input autocomplete="off" name="tomato_setting" placeholder="minutes per pomodoro" type="text"></div><br><div><input type="submit" name="create" value="create new table"></div>';}
            </script>
        </div>  
    </center>  
    </form>
</div>
<br>
<center><a href="/howtouse">How to use this site</a></center>
<br>
<br>
<br>
<br>
<center>based on the <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique</a> developed by Francesco Cirillo</center>
{% endblock %}